#root{
  height: 100%;
}
.App{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  left:0;
  top:0;
  display:flex;
  flex-direction: column;
  height: 100%;
}
body{
  background: #edeef0;
}
.addCar{
  text-align: center;
}
.addCar>svg{
  fill:#F56433;
  width: 10em;
  border-radius: 100%;
  cursor: pointer;
  transition: fill 0.5s linear;
}
.addCar>svg:hover{
  animation: shake 0.5s ease-in-out;
  fill: #F59433;
}
.loading{
  padding: 0;
  margin: auto;
  color:#F56433;
  text-align: center;
}
.addCar{
  height: 200px;
}
.delBtn{
  width: 100%;
  padding: 2px;
  height: 100%;
  border-radius: 5px;
  background: #F56433;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color:black;
}
.delBtn:hover{
  background: #F59433;
  color:black;
  cursor:pointer;
}
td>b{
  color:#F56433;
}
table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #E1E3E0;
  border-radius: 20px;
  table-layout:fixed;
  width:100%;
}
thead{
 border-bottom: 2px solid #F56433;
}
th {
  font-weight: 300;
  padding: 12px 10px;
  color: #F56433;
}
td {
  padding: 10px;
  color: #8D8173;
}
tr:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}


/*Тут внезапно появляется пародия на БЭМ не потому что я украл их где-то в интернете, это стили диалоговых окон из моего другого проекта(github.com/matthewmaclay/crm), написаные на SASS и скомпиленные сюда */
.Popup {
  position: absolute;
  margin: auto;
  z-index: 2;
  width: 70vw;
  height: 70vh;
  background: #faae94;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  overflow: hidden;
}
.Popup_customers > input {
  width: 100%;
  margin-bottom: 5px;
}
.Popup_customers > div {
  height: 10vh;
  overflow: auto;
  scroll: auto;
  background: white;
  font-size: 1rem;
}
.Popup_customers > div ul {
  padding: 10px;
}
.Popup_customers > div li {
  list-style-type: none;
}
.Popup_customers > div li:hover {
  background: #b93509;
  color: white;
  border-radius: 5px;
}
.Popup_header {
  display: flex;
  margin: 0;
  padding: 0;
  flex: 0.5 1 5%;
  background: #F56433;
  display: flex;
}
.Popup_header > button {
  background: #fff;
  height: 100%;
  width: 20%;
  cursor: pointer;
  border: none;
}
.Popup_header > button:hover {
  background: #edeef0;
}
.Popup_header > button > svg {
  fill: #c8385a;
  transition: all 0.5s ease-in;
}
.Popup_header > button > svg:hover {
  transform: scale(1.2);
  fill: #792136;
}
.Popup_header > p {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin: auto;
}
.Popup_content {
  margin: 10px;
  flex: 20 1 5%;
  display: flex;
}
.Popup_content > .descrInputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Popup_content > .descrInputs > div {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px solid #edeef0;
}
.Popup_content > .inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Popup_content > .inputs > div {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.Popup_content > .inputs > div > div {
  flex: 1;
}
.Popup_content > .inputs > div > input {
  flex: 2;
  border: none;
  border-radius: 5px;
}
.Popup_content > .inputs > div > select {
  border: none;
  border-radius: 5px;
  width: auto;
}
.Popup_footer {
  background: #F56433;
  flex: 0.5 2 5%;
  display: flex;
  justify-content: flex-end;
}
.Popup_footer > button {
  background: #fff;
  height: 100%;
  width: 20%;
  cursor: pointer;
  border: none;
}
.Popup_footer > button:hover {
  background: #edeef0;
}
.Popup_footer > button > svg {
  transition: all 0.5s ease-in;
  fill: #9acd32;
}
.Popup_footer > button > svg:hover {
  transform: scale(1.2);
  fill: #5c7b1e;
}

.bgPopup {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
.bgPopup>img{
  width: 30vw;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  -webkit-animation: iam 10s ease-in-out;

}

@media screen and (max-width:720px) { 
    body{
      font-size: 1.2rem;
    }
    thead{
      display:none;
    }
    tr{
      border-radius: 10px;
      border:5px solid white;
    }
    tr,td{
      display:block;
      padding-left:50px;
    }
    table td:before {
     content: attr(data-label);
     position:absolute;
     left:10px;
     color: #F56433;
    }
    .Popup{
      width: 90vw;
      height: 80vh;
    }
   }
@keyframes shake {
 0% {  }
 33% { transform: rotate(-10deg); }
 66% { transform: rotate(10deg);  }
 99% {   }
}

@keyframes iam {
 0% { bottom:0; }
 30% { bottom:0; }
 100% {  bottom:80%; }
}