#root{
  height: 100%;
  background: #f5f7f6;
}
.App{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  left:0;
  top:0;
  display:flex;
  flex-direction: column;
  height: 100%;

}
body{
  background: #f5f7f6;
}
.loading{
  padding: 0;
  margin: auto;
  color:#F56433;
  text-align: center;
}
tr{
  border-bottom:1px solid #ccc;
}
.container{
  height:100px;
}
.auto{
  width:710px;
  margin:auto;
  padding-left:10px;
  background:white;
}
.auto p{
  border-left:5px solid silver; 
  margin:0;
  padding-left: 15px;
  font-size:19px;
  margin-top:-4px;
  font-weight: bold;
}
.car__description{
  font-size:0.8rem;
  color:#b2b6b5;
  padding:0;
  margin:0;
}
.car__color>div{
  height:1rem;
  width:1rem;
  border-radius:100%;
  border:2px solid silver;
  margin:auto;
}
.car__delBtn{
  padding: 2px;
  height: 100%;
  border:0;
  background:inherit;
  border-radius: 5px;
  color:black;
}
.car__delBtn:hover{
  background: #000;
  color:#fff;
  cursor:pointer;
}
.all b{
  color:#c40a31;
}
table {
  margin-top:15px;
  font-size:0.9rem;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #f5f7f6;
  border-radius: 10px;
  table-layout:fixed;
  width:100%;
  color:#6b6b6b;
}
thead{
  background:#c40a31;
  color:white;
  border-radius:10px;
}
th:first-child{
  height:45px;
  text-align: left;
  padding-left:15px;
}
th{
    text-align: left;
}
td{
  text-align: left;
  padding-top:15px;

}
.showCars{
  padding:10px;
  width:700px;
  margin:auto;
  overflow:hidden;
  background:white;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.header{
  background: #282d30;
  height: 104px;
  text-align: center;
}
.footer{
  background: #282d30;
  min-height:65px;
  text-align: center;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
}
.header>img{
  max-width:975px;
}
.panel{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 720px;
  margin:auto;
  background:white;
}
.caramba{
  display:flex;
  max-width:720px;
  margin:auto;
  justify-content:center;
  align-items:center;
  height:155px;
  font-size:40px;
  font-weight:600;
  background:white;
}
.caramba>p{
  padding-top: 20px;
  margin: 0;
}
.notEmpty{
  border-bottom:2px solid #66ff66;
}
.panel>div{
  justify-content: space-between;
  display:flex;
  flex-wrap: wrap;
}
.panel input{
  margin:10px;
}
.panel__description{
  margin-top:20px !important;
  width: 100%;
  height: 34px;
}
.panel__year{
  flex:1 1 50px;
  height: 34px;
  margin-top:20px;
}

.panel__price{
  flex:1 1 50px;
  height: 34px;
  margin-top:20px;
}
.panel__title+div{
  display:flex;
  flex:1 1 300px;
}
.panel__title{
  flex:1 39px;
  height: 34px;
  margin-top2:0px;

}
.panel__colors{
  padding-right:-20px;
  margin-left:-10px;
  flex:1 1 110px;
  height: 34px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 20px 20px 12px;
}

.panel__status{
  height:34px;
  flex:1 1 130px;
  margin:20px;
  margin-right:0px;
}
.panel select{
  width:100%;
  height:40px;
}
.panel__send{
  display:flex;
  justify-content: center;
  align-items: center;
  background: #c40a31;
  color:white;
  border-radius: 5px;
  height: 40px;
  cursor:pointer;
  flex:1 1 130px;
  margin:20px;
  margin-right:10px;
}
.panel__send>p{
  margin: 0;
  padding: 0;
  font-size:15px;
}
#White{
  background:white;
  border:1px solid silver;
}
#Black{
  background:black;
}
#Red{
  background:red;
}
#Green{
  background:green;
}
#Silver{
  background:silver;
}
.choicenColor{
  border:3px solid #c40a31 !important;
    margin-right:5px;
    margin-left:-4px;
}
.panel__colors div{

  margin-top:5px;
  margin-right:5px;
  height:20px;
  width:20px;
  border-radius:100%;
}
.panel__colors div:hover{
  border:2px solid blue;
    margin-right:5px;
}
.car__title{
  padding: 15px;
}
.car__color{
  display:flex;
}
@media screen and (max-width:720px) { 
  .auto{
    display:none;
  }
    thead{
      display:none;
    }
    tr{
      border-radius: 10px;
      display:flex;
      flex-wrap:wrap;
      padding:10px;
    }
    td{
      margin:10px 0 10px 0;
    }
    .car{
      display:flex;
      flex-wrap:wrap;
    }
    .car__id{
      display:none;
    }
    .car__title{
      text-align:left;
      flex:1 1 60%;
      order:1;
      padding: 15px;
    }
    .car__description{
      margin-top:10px;
    }
    .car__year{
      text-align:left;
      order:4;
      flex:3 1 10%;
    }
    .car__color{
      flex:1 1 10%;
      order:2;
    }
    .car__status{
      order:5;
      flex:3 1 50%;
      text-align:left;
    }
    .car__price{
      flex:2 1 19%;
      order:3;
      text-align:right;

    }
    .car__price+td{
      order:6;
    }
    .car__delBtn{
      display:block;
      background:black;
      color:white;
      border-radius:50px;
      padding:5px;
    }
    .all{
      justify-content:space-between;
    }
    .empty{
      display:none;
    }
   }